.menu
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0d0d0d;
  width: 50%;
  height: 100%;
  opacity: 0.9;
  padding: 30px;
  border-right: 1px #333 solid;
} 

.menu.showMenu
{
  display: block;
}

.menu a
{
  display: flex;
  margin-bottom: 30px;
}

.menu a:hover
{
  opacity: 0.9;
}