.searchContainer
{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.searchContainer.showBar
{
  display: flex;
}

.searchContainer #searchbar
{
  width: 70vw;
  margin-right: 30px;
  height: 40px;
  color: #333;
  border: 1px solid #333;
  border-radius: 10px;
  padding-left: 10px;
}
